/* COLOURS */

// Black and white
$color-black: #000000;
$color-white: #ffffff;

// Page body background
$color-body: #f8f9fb;

// Neutral background colours
$color-neutral: #f8f8f8;
$color-neutral-light: #fafafa;
$color-neutral-dark: #333333;

// Text colours
$color-text: #000000;
$color-text-light: #666666;
$color-text-lighter: #aaaaaa;

// Border colour
$color-borders: #cccccc;
$color-borders-light: #f2f2f2;

// Primary brand colours
$color-primary: #ff6600;
$color-primary-light: lighten($color-primary, 5%);
$color-primary-lighter: lighten($color-primary, 15%);

// Link colours
$color-link: $color-black;
$color-link-hover: lighten($color-link, 15%);
$color-link-active: lighten($color-link, 30%);

/* FONTS */

// Standard font to use
$font-standard: 'Roboto', Arial, Helvetica, Sans-serif;

// Base font size for html element
$font-base: 14;

// Font sizes
$font-size-base: $font-base * 1px;
$font-size-standard: 15 / $font-base * 1rem;
$font-size-small: 13 / $font-base * 1rem;
$font-size-large: 16 / $font-base * 1rem;
$font-size-larger: 22 / $font-base * 1rem;
$font-size-logo: 28 / $font-base * 1rem;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Line heights
$line-height-base: 1.15;

/* MEDIA QUERIES */
$mq-desktop-size: 1280px;
$mq-tablet-size: 1024px;
$mq-mobile-size: 768px;
