li.item-post {
	display: flex;
	align-items: center;

	&.mod-alt {
		background: $color-neutral;
	}

	.meta {
		width: 80px;
		padding: 14px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.position {
			margin-bottom: 7px;
			font-size: $font-size-larger;
		}

		.score {
			color: $color-text-lighter;
		}
	}

	.title {
		padding: 0 25px;

		h3 {
			margin: 0 0 5px 0;
			font-size: $font-size-large;
			font-weight: $font-weight-medium;

			a {
				color: $color-primary;
				text-decoration: none;
			}
		}

		ul.list-meta {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;

			li.item-meta {
				margin: 0 10px 0 0;
				padding: 0 10px 0 0;
				border-right: 1px solid $color-borders;
				font-size: $font-size-small;
				color: $color-text-light;

				&:last-child {
					margin-right: 0;
					padding-right: 0;
					border-right: none;
				}

				a {
					color: $color-text-light;
					text-decoration: none;
				}
			}
		}
	}

	ul.list-actions {
		margin: 0 0 0 auto;
		padding: 0 25px 0 0;
		list-style: none;
		display: flex;
		align-items: center;

		li.item-action {
			display: flex;
			align-items: center;
			margin: 0 0 0 25px;
			padding: 0;

			[class^='icon-'] {
				width: 35px;
				height: 35px;
			}

			.count {
				width: 30px;
				margin-left: 8px;
				font-size: $font-size-small;
				color: $color-text-light;
			}
		}
	}
}
