li.item-post {
	display: flex;
	align-items: center;
	padding: 20px 0;

	@include mq(tablet-down) {
		padding: 10px 0;
	}

	&.mod-alt {
		background: $color-neutral;
	}

	.title {
		padding: 0 25px;

		@include mq(tablet-down) {
			padding: 0 10px;
		}

		h3 {
			margin: 0 0 5px 0;
			font-size: $font-size-large;
			font-weight: $font-weight-regular;
		}

		ul.list-meta {
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;

			@include mq(tablet-down) {
				flex-wrap: wrap;
			}

			li.item-meta {
				margin: 0 10px 0 0;
				padding: 0 10px 0 0;
				border-right: 1px solid $color-borders;
				font-size: $font-size-small;
				color: $color-text-light;

				@include mq(tablet-down) {
					margin: 0 2px 0 0;
					padding: 0;
					border: none;
				}

				&:last-child {
					margin-right: 0;
					padding-right: 0;
					border-right: none;
				}

				a {
					color: $color-text-light;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	ul.list-actions {
		flex-shrink: 0;
		margin: 0 0 0 auto;
		padding: 0 25px 0 0;
		list-style: none;
		display: flex;
		align-items: center;

		@include mq(tablet-down) {
			padding: 0 10px;
		}

		li.item-action {
			margin: 0;
			padding: 0;

			a {
				display: flex;
				align-items: center;

				&:hover {
					[class^='icon-'] {
						fill: $color-primary;
					}

					.count {
						color: $color-primary;
					}
				}

				.count {
					width: 25px;
					flex-shrink: 0;
					margin-left: 5px;
					font-size: $font-size-small;
					color: $color-text-lighter;
				}
			}

			[class^='icon-'] {
				width: 25px;
				height: 25px;
				flex-shrink: 0;
				fill: $color-text-lighter;
				cursor: pointer;

				&.icon-comments {
					width: 22px;
				}

				&:hover {
					fill: $color-primary;
				}

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
