.header-main {
	width: 100%;
	background: linear-gradient(
		45deg,
		$color-primary-light 0%,
		$color-primary-lighter 100%
	);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	.container {
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: stretch;

		.logo {
			height: 60px;
			padding: 0 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: $color-primary;
			text-decoration: none;

			.text {
				color: $color-white;
				font-size: $font-size-logo;
				font-weight: $font-weight-bold;
				transition: transform 0.3s ease-in;

				&:hover {
					transform: rotate(360deg);
				}

				.brackets {
					font-weight: $font-weight-regular;
				}
			}
		}

		.nav-main {
			margin: 0;
			flex-grow: 1;

			ul.list-nav {
				width: 100%;
				display: flex;
				justify-content: flex-end;
				list-style: none;
				margin: 0;
				padding: 0;

				li.item-nav {
					margin: 0;
					padding: 0;

					@include mq(tablet-down) {
						flex-grow: 1;
					}

					&:last-child {
						margin-right: 0;
					}

					a {
						width: 100%;
						height: 60px;
						display: flex;
						align-items: center;
						justify-content: center;
						padding: 0 30px;
						color: $color-neutral-light;
						text-align: center;
						transition: all 0.2s ease;

						@include mq(tablet-down) {
							padding: 0;
						}

						&:hover,
						&.mod-active {
							text-decoration: none;
							background: rgba($color-white, 0.15);
						}
					}
				}
			}
		}
	}
}
