.header-main {
	height: 80px;
	padding-right: 25px;
	display: flex;
	align-items: center;
	background: linear-gradient(
		90deg,
		$color-primary-light 0%,
		$color-primary-lighter 100%
	);

	.logo {
		width: 80px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $color-primary;
		text-decoration: none;

		.text {
			color: $color-white;
			font-size: $font-size-logo;
			font-weight: $font-weight-bold;
			transition: transform 0.3s ease-in;

			&:hover {
				transform: rotate(360deg);
			}
		}
	}

	.nav-main {
		margin: 0;

		ul.list-nav {
			display: flex;
			list-style: none;
			margin: 0;
			padding: 0;

			li.item-nav {
				margin: 0;
				padding: 0;
				font-size: $font-size-large;

				&:last-child {
					margin-right: 0;
				}

				a {
					padding: 23px 30px;
					border-bottom: 5px solid transparent;
					color: $color-white;
					transition: all 0.2s ease;

					&:hover,
					&.mod-active {
						border-color: $color-white;
					}
				}
			}
		}
	}
}
